.login-layout {
    display: grid;
    min-height: 100vh;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    border: 16px;
    place-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 300px;
}
.login-form div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.login-input{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 25px;
    border: 1px solid #E5dfd3;
}

.login-credential{
    font-size: 10px;
    font-weight: bold;
}

.login-button{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    color: #ffff;
    background-color: #E31837;
    font-weight: bold;
    border: 1px solid #E31837;
}

.login-button:hover {
  background-color: rgb(184, 17, 17);
  border-color: rgba(200, 30, 30, 0.45);
}

.login-button:active {
  transform: scale(0.97);
}
